%header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar{:data=>{:toggle=>"collapse", :target=>".nav-collapse"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        
        %a.brand{ :href => "#{site.base_url}" } JEGE AngularJS
        
        .nav-collapse
          %ul.nav
            %li
              %a{:href=>"#{site.base_url}"} Home
              
          %ul.nav.pull-right
            %li.logged-out
              %a{ :href => "#{site.base_url}/public/user/inscription" } Inscription
            %li.logged-out
              %a{ :href => "#", :data => { :toggle => "modal", :target => "#signinModal" } } Sign in
            %li.dropdown.logged-in
              %a.dropdown-toggle{ :href => "#", "data-toggle" => "dropdown" }
                You
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ :href => "#{site.base_url}/private/user/profile" } Profile
                %li{"data-ng-controller"=>"SigninCtrl"}
                  %a{ :href => "#{site.base_url}", "data-ng-click" => "signout()" } Sign out
            